In [3]:
import pandas as pd
import numpy as np
from names import util
from scipy import stats
from unidecode import unidecode

In [4]:
data = util.just_give_me_all_the_shit("firstName")

In [5]:
set(data.family)

{'Euro Germanic', 'Euro Romance', 'Non-Euro Romance/Germanic', 'Other'}

In [10]:
data

      country      name     tfidf    freq  freq_percent  normed_count family
0          AE        md  0.561901  141370      0.050518         34081  Other
1          AE  muhammad  0.344017   87488      0.031264         21091  Other
2          AE  mohammed  0.228026   54349      0.019421         13102  Other
3          AE     abdul  0.188020   50446      0.018027         12161  Other
4          AE  mohammad  0.175260   41320      0.014766          9961  Other
...       ...       ...       ...     ...           ...           ...    ...
92995      ZA   songezo  0.007541    1309      0.000247           167  Other
92996      ZA     enock  0.007535    2130      0.000403           272  Other
92997      ZA       pat  0.007518    4419      0.000835           563  Other
92998      ZA     lungy  0.007495    1301      0.000246           166  Other
92999      ZA    jolene  0.007492    2427      0.000459           309  Other

[93000 rows x 7 columns]

In [6]:
romance = ['ES', 'PT', 'FR', 'IT']
germanic = ['GB', 'SE', 'DE', 'NL']
euro_g = ["dutch","english","german","swedish"]
euro_r = ["french","italian","portuguese","spanish"]

In [2]:
countries = ['IT','DK', 'FR', 'PT', 'ES', "SE"]

In [19]:
col = 'firstName'
data = util.just_give_me_all_the_shit(col)
# top = util.get_n_tfidf_names(country_name_counts, n_top_names=1000)
# top_w_count = util.add_freq_to_tfidf(country_name_counts, top).reset_index()
# top_w_count = top_w_count[top_w_count.country.isin(countries)]
data = data[data.family.isin(['Euro Germanic', 'Euro Romance'])]
top_repeated = data.loc[data.index.repeat(data.freq)]

# top = top.reset_index()
# top = top[top.country.isin(countries)]

In [20]:
col = 'lastName'
data = util.just_give_me_all_the_shit(col)
# top = util.get_n_tfidf_names(country_name_counts, n_top_names=1000)
# top_w_count = util.add_freq_to_tfidf(country_name_counts, top).reset_index()
# top_w_count = top_w_count[top_w_count.country.isin(countries)]
data = data[data.family.isin(['Euro Germanic', 'Euro Romance'])]
top_last_repeated = data.loc[data.index.repeat(data.freq)]

In [20]:
# list(top_w_count[top_w_count["country"] == "SG"]["name"])

In [7]:
top_w_count[top_w_count["name"] == "hans"]

      country  name     tfidf  freq  freq_percent
28141      DK  hans  0.028611  1310      0.002969
92092      SE  hans  0.045217  2963      0.003774

In [12]:
df_nordic = top_w_count.copy()
df_nordic = df_nordic[df_nordic.country.isin(["DK","SE"])]
dfn=df_nordic.groupby(['name']).agg({'freq': 'sum'}).reset_index()
dfn[dfn["name"] == "hans"]

     name  freq
515  hans  4273

In [14]:
df_romance = top_w_count.copy()
df_romance = df_romance[df_romance.country.isin(["ES","IT","FR"])]
dfr=df_romance.groupby(['name']).agg({'freq': 'sum'}).reset_index()
dfr

            name   freq
0          aaron   5856
1          abdel  16688
2     abdelkader   3711
3       abdellah   3986
4     abderrahim    948
...          ...    ...
2563       zaira   1564
2564     zakaria   3226
2565       zineb   2138
2566         zoe   6678
2567       zohra   3191

[2568 rows x 2 columns]

In [90]:
col = 'lastName'
country_name_counts = util.clean_country_name_counts(column=col)
top_last = util.get_n_tfidf_names(country_name_counts, n_top_names=1000)
top_last_w_count = util.add_freq_to_tfidf(country_name_counts, top_last).reset_index()
top_last_w_count = top_last_w_count[top_last_w_count.country.isin(countries)]
top_last_repeated = top_last_w_count.loc[top_last_w_count.index.repeat(top_last_w_count.freq)]

top_last = top_last.reset_index()
top_last = top_last[top_last.country.isin(countries)]

In [17]:
def entropy(names,length):
    probs = pd.Series(dtype='float64')
    for i in range(length):
        probs = pd.concat([(names.str[i].value_counts(normalize=True)/length),probs], ignore_index=True)
    return probs.apply(lambda p: (-p*np.log2(p))).sum()
def entropy_single_position(names,position):
    probs = pd.Series(dtype='float64')
    probs = pd.concat([(names.str[position].value_counts(normalize=True)),probs], ignore_index=True)
    return probs.apply(lambda p: (-p*np.log2(p))).sum()
def probability_last_positions(names,position= -1):
    probs = pd.Series(dtype='float64')
    return pd.concat([(names.str[position:].value_counts(normalize=True)),probs], ignore_index=False)
def probability_last_3(names):
    probs = pd.Series(dtype='float64')
    return pd.concat([(names.str[-3:].value_counts(normalize=True)),probs], ignore_index=False)

In [6]:
# length = 5
# for column in df.columns:
#     names = [name for name in df[column] if len(name) == length]
#     names_shuffled = util.shuffle_names(names)[length]
#     entropy_val = entropy(pd.Series(names),length)
#     shuffled_entropy = entropy(pd.Series(names_shuffled),length)
#     print(f"entropy for {column}: {entropy_val}")
#     print(f"shuffled entropy for {column}: {shuffled_entropy}")
#     print(f"relative entropy for  {column}: {shuffled_entropy-entropy_val}")

In [7]:
df = top.copy()

In [8]:
# length = 5
position = -1
for column in df.country.unique():
    names = list(df[df.country == column]["name"])
    # names_shuffled = util.shuffle_names(names)[length]
    entropy_val = round(entropy_single_position(pd.Series(names),position),2)
    # shuffled_entropy = entropy_single_position(pd.Series(names_shuffled),position)
    print(f"entropy for {column}: {entropy_val}")
    # print(f"shuffled entropy for {column}: {shuffled_entropy}")
    # print(f"relative entropy for  {column}: {shuffled_entropy-entropy_val}")

entropy for DK: 3.58
entropy for ES: 3.32
entropy for FR: 3.31
entropy for IT: 2.3
entropy for PT: 2.55
entropy for SE: 3.56

In [9]:
languages = ["danish","spanish","italian","portuguese","swedish"]

for lang in languages:
    
    lang_words = util.get_language_corpus_words(language=lang)
    entropy_val = round(entropy_single_position(pd.Series(lang_words),-1),2)
    print(f"entropy for {lang}: {entropy_val}")

entropy for danish: 3.42
entropy for spanish: 2.98
entropy for italian: 2.6
entropy for portuguese: 2.7
entropy for swedish: 3.49

In [10]:
lang_words = util.get_language_corpus_words(language="italian")
p_words = probability_last_position(pd.Series(lang_words))

In [11]:
names = list(df[df.country == "IT"]["name"].apply(unidecode))
p_names = probability_last_position(pd.Series(names))

In [12]:
df_c = pd.DataFrame([p_words,p_names]).fillna(0.000001)
p_words_n = df_c.iloc[0]
p_names_n = df_c.iloc[1]
entropy(p_names_n,p_words_n)

In [21]:
def entropy_country_lang(df,position=-1):
    # romance = ['ES', 'PT', 'FR', 'IT']
    # germanic = ['GB', 'SE', 'DE', 'NL']
    country_to_lang ={"IT":"italian","ES":"spanish","PT":"portuguese","FR":"french","SE":"swedish","GB":"english","DE":"german","NL":"dutch"}
    for country, lang in country_to_lang.items():
        lang_words = util.get_language_corpus_words(language=lang)
        if position < -1:
            lang_words = [word for word in lang_words if len(word) >= 3]
        p_words = probability_last_positions(pd.Series(lang_words),position=position)
        names = list(df[df.country == country]["name"].apply(unidecode))
        if position < -1:
            names = [word for word in names if len(word) >= 3]
        p_names = probability_last_positions(pd.Series(names),position=position)
        df_c = pd.DataFrame([p_words,p_names]).fillna(0.000001)
        p_words_n = df_c.iloc[0]
        p_names_n = df_c.iloc[1]
        entropy_n = round(stats.entropy(p_names_n),2)
        entropy_w = round(stats.entropy(p_words_n),2)
        kl = round(stats.entropy(p_names_n,p_words_n),2)
        print(f"{country}: {entropy_n} | {lang}: {entropy_w} |  kl divergence: {kl}")

In [22]:
print("last letter of first names and languages with repeated names")
df = top_repeated.copy()
entropy_country_lang(df,position=-1)
print("last 3 letters of first names and languages with repeated names")
df = top_repeated.copy()
entropy_country_lang(df,position=-3)
print("last letter of last names and languages with repeated names")
df = top_last_repeated.copy()
entropy_country_lang(df,position=-1)
print("last 3 letters of last names and languages with repeated names")
df = top_last_repeated.copy()
entropy_country_lang(df,position=-3)

last letter of first names and languages with repeated names
IT: 1.35 | italian: 1.8 |  kl divergence: 0.49
ES: 2.16 | spanish: 2.06 |  kl divergence: 0.25
PT: 1.65 | portuguese: 1.87 |  kl divergence: 0.31
FR: 2.21 | french: 2.01 |  kl divergence: 0.52
SE: 2.29 | swedish: 2.42 |  kl divergence: 0.46
GB: 2.47 | english: 2.53 |  kl divergence: 0.44
DE: 2.51 | german: 2.27 |  kl divergence: 0.97
NL: 2.52 | dutch: 2.2 |  kl divergence: 0.82
last 3 letters of first names and languages with repeated names
IT: 4.67 | italian: 5.16 |  kl divergence: 2.82
ES: 5.09 | spanish: 5.18 |  kl divergence: 3.47
PT: 4.55 | portuguese: 5.24 |  kl divergence: 3.85
FR: 5.15 | french: 4.98 |  kl divergence: 3.88
SE: 5.17 | swedish: 5.23 |  kl divergence: 3.88
GB: 5.52 | english: 5.21 |  kl divergence: 4.65
DE: 5.39 | german: 5.0 |  kl divergence: 4.94
NL: 5.57 | dutch: 5.08 |  kl divergence: 4.5
last letter of last names and languages with repeated names
IT: 1.44 | italian: 1.8 |  kl divergence: 0.31
ES: 1.74 | spanish: 2.06 |  kl divergence: 2.01
PT: 1.46 | portuguese: 1.87 |  kl divergence: 0.27
FR: 2.59 | french: 2.01 |  kl divergence: 0.55
SE: 1.55 | swedish: 2.42 |  kl divergence: 0.99
GB: 2.3 | english: 2.53 |  kl divergence: 0.3
DE: 2.36 | german: 2.27 |  kl divergence: 0.35
NL: 2.29 | dutch: 2.2 |  kl divergence: 0.4
last 3 letters of last names and languages with repeated names
IT: 4.87 | italian: 5.16 |  kl divergence: 1.92
ES: 4.51 | spanish: 5.18 |  kl divergence: 4.36
PT: 4.45 | portuguese: 5.24 |  kl divergence: 2.49
FR: 5.29 | french: 4.98 |  kl divergence: 3.49
SE: 2.7 | swedish: 5.23 |  kl divergence: 6.28
GB: 5.11 | english: 5.21 |  kl divergence: 3.31
DE: 4.89 | german: 5.0 |  kl divergence: 3.07
NL: 4.89 | dutch: 5.08 |  kl divergence: 2.84